<div class="container">
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="clndr-controls">
            <div class="clndr-previous-button">&lsaquo;</div>
            <div class="month <%= month.classes %>"><%= month %><%= ' ' + year %></div>
            <div class="clndr-next-button">&rsaquo;</div>
        </div>
        <div class="clndr-grid">
            <div class="days-of-the-week">
                <div class="daysHead">
                    <% _.each(daysOfTheWeek, function (day) { %>

                        <div data-date="<%= day.date %>" class="header-day"><%= day %></div><% });
                    %>
                </div>
                <div class="days"><% _.each(days, function (day) { %>
                    <%
                    if(day.date.valueOf() / 1000 >= extras.today && day.date.valueOf() / 1000 < extras.today + 86400) {
                        console.log("great");
                     %>
                    <div data-date="<%= day.date %>" class="<%= day.classes %>"><%= day.day %></div>

                    <% } else {%>

                        <div data-date="<%= day.date %>" class="<%= day.classes %>"><%= day.day %></div>

                    <% } %>
                    <% }); %>
                </div>
                <footer>*kliknij datę aby pokazać aktualne wydarzenia!</footer>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="clndr-events">
          <div class="event-listing-title"><h3>Wydarzenia: </h3></div>
          <% %>
          <% _.each(eventsThisMonth, function(event) { %>
                <% if(!event.cycle) { %>
                    <%
                    if(event.dateUnix.valueOf() / 1000 >= extras.today && event.dateUnix.valueOf() / 1000 < extras.today + 86400) {
                        console.log("great");
                     %>
                  <div class="event-item showEvents <%= event.id %> today">
                    <div class="event-item-name"><%= event.title %></div>
                    <div class="event-item-location <%= event.valid %>"><%= 'godz.:  ' + moment(event.date, "YYYY-MM-DD HH:mm").format("HH:mm") %></div>
                  </div>
                  <% } else { %>
                      <div class="event-item hideEvents <%= event.id %> otherday">
                        <div class="event-item-name"><%= event.title %></div>
                        <div class="event-item-location"><%= 'godz.:  ' + moment(event.date, "YYYY-MM-DD HH:mm").format("HH:mm") %></div>
                      </div>


                  <% } %>
              <% } %>

            <% }); %>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="clndr-events">
              <div class="event-listing-title"><h3>Stałe zajęcia: </h3></div>
              <%  %>
              <% _.each(eventsThisMonth, function(event) { %>
                  <% if(event.cycle) { %>
                      <%
                      if(event.dateUnix.valueOf() / 1000 >= extras.today && event.dateUnix.valueOf() / 1000 < extras.today + 86400) {
                          console.log("great");
                       %>
                    <div class="event-item showEvents <%= event.id %> today">
                      <div class="event-item-name"><%= event.title %></div>
                      <div class="event-item-location <%= event.valid %>"><%= 'godz.:  ' + moment(event.date, "YYYY-MM-DD HH:mm").format("HH:mm") %></div>
                    </div>
                    <% } else { %>
                        <div class="event-item hideEvents <%= event.id %> otherday">
                          <div class="event-item-name"><%= event.title %></div>
                          <div class="event-item-location <%= event.valid %>"><%= 'godz.:  ' + moment(event.date, "YYYY-MM-DD HH:mm").format("HH:mm") %></div>
                        </div>


                    <% } %>
                <% } %>

                <% }); %>

        </div>
    </div>
</div>
</div>
