
#calendar {
    header {
        background-color: #f5f5f5;
        h2 {
            font-size: 3rem;
            font-weight: 300;
            margin: 0;
            padding: 10px 0;
        }
    }
    #calendarInner {
        padding: 20px 0 40px 0;
        min-height: 488px;
        position: relative;
        display: block;
        .svgContainer {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .clndr {
        .clndr-controls {
            width: 100%;
            max-width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.8rem;
            font-weight: 300;
            min-height: 75px;
            .clndr-next-button {
                font-size: 5rem;
                font-weight: 100;
                cursor: pointer;
            }
            .clndr-previous-button {
                font-size: 5rem;
                font-weight: 100;
                cursor: pointer;
            }
        }
        .clndr-grid {
            width: 100%;
            max-width: 100%;
            background-color: #f4f4f4;

            .daysHead {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;
                .header-day {
                    width: calc(100% / 7);
                    height: 40px;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #cacaca;
                    box-sizing: border-box;
                    font-size: 1.8rem;
                    font-weight: 300;
                }
            }
            .days {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;
                .day {
                    width: calc(100% / 7);
                    height: 40px;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #cacaca;
                    box-sizing: border-box;
                    font-size: 1.8rem;
                    font-weight: 300;
                    cursor: pointer;
                    &.selected {
                        background-color: $orange;
                        color: #ffffff;
                    }
                    &.today {
                        background-color: #d8d8d8;
                        color: #ffffff;
                    }
                    &:hover {
                        background-color: $orange;
                        color: #ffffff;
                    }
                    &:focus {
                        background-color: $orange;
                        color: #ffffff;
                    }
                    &.last-month {
                        opacity: 0.5;
                    }
                    &.next-month {
                        opacity: 0.5;
                    }
                }
            }
        }
        .clndr-events {
            .event-listing-title {
                min-height: 75px;
                display: flex;
                align-items: center;
                border-bottom: 1px solid #cacaca;
                h3 {
                    font-size: 1.6rem;
                    margin: 0;
                }

            }

            .event-item {
                font-size: 1.4rem;
                min-height: 75px;
                display: none;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                border-bottom: 1px solid #cacaca;
                padding: 0 3px;
                &:hover {
                    background-color: $orange;
                    color: #ffffff;
                }
                &:focus {
                    background-color: $orange;
                    color: #ffffff;
                }
                &.showEvents {
                    display: flex;

                }
                
            }
        }
    }
}
