/**
 * Category and taxonomy
 */
#new {
    background-color: #e1e0e1;
    h2 {
        font-size: 3rem;
        font-weight: 300;
        color: #000000;
        padding: 20px 0;
        margin: 0;
    }
    .frontWrap {
        margin-bottom: 30px;
    }
    .frontArticle {
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        box-shadow: 0px 5px 4.75px 0.25px rgba(0, 0, 0, 0.1);


        .mainLink{
            display: block;
            position: relative;
            width: 40%;
            height: 100%;
        }
        .frontImage {
            position: relative;
            width: 100%;
            height: 100%;
            background-size: cover;
            display: table;
        }
        .frontText {

            .eventHead {
                font-size: 3rem;
                font-family: $slab;
                padding: 20px 30px;
                background-color: #ebe8e8;
                margin: 0;
            }

            .intro {
                .postDate {
                    font-size: 1.4rem;
                    letter-spacing: 0.1em;
                }
                .localization {
                    list-style-type: none;
                    margin: 0;
                    padding: 0 30px;
                    width: auto;
                    display: block;
                    text-align: right;
                    position: absolute;
                    top: 0;
                    right: 0;
                    li {
                        font-size: 1.2rem;
                        display: inline-block;

                        width: auto;
                        color: #fff;
                        padding: 5px 15px;
                        margin-left: 5px;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        font-weight: 600;
                        line-height: 1;
                        background-color: $orange;
                    }
                }
                padding: 0 30px;
                h3 {
                    font-size: 1.8rem;
                    font-weight: 700;
                    line-height: 1.34;
                    margin: 25px 0 40px 0;
                }
                p {
                    font-size: 1.4rem;
                }
            }
            position: relative;
            width: 60%;
            padding-bottom: 70px;
            footer {
                position:absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                display:flex;
                justify-content: space-between;
                align-items: flex-end;

                .branches {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    width: 50%;
                    li {
                        font-size: 1.2rem;
                        color: #fff;
                        padding: 5px 10px;
                        font-weight: 600;
                        line-height: 1;
                    }
                }
            }
        }
    }
}
