.content-info {

    .footerInfo {
        padding: 20px 0 80px 0;

        h5 {
            font-weight: 300;
            font-size: 3rem;
            line-height: 0.1em;
            color: #333;
            margin: 0;
            padding: 40px 0;
        }
        .widgetFoot {
            padding-top: 15px;
            margin-bottom: 30px;

            display: flex;
            align-items: center;
            flex-wrap: wrap;

            @media all and (max-width: 768px) {
                border: none;
            }
            p {
                font-size: 20px;
                line-height: 32px;
                color: #333;
            }


            .widget {
                &--padtop {
                    padding-top: 3rem;
                }
                h3 {
                    font-size: 2rem;
                    font-weight: 300;
                    color: #333;
                    padding-bottom: 20px;
                    span {
                        color: #cc3d36;
                        text-transform: uppercase;
                    }
                }
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;

                    li {
                        display: inline-block;
                        width: auto;
                        .logos {
                            max-width: 100px;
                            padding: 2%;
                        }
                        a {
                            display: block;
                            color: #ccc;
                            font-size: 1.4rem;
                            text-decoration: underline;
                            padding-right: 10px;
                        }
                    }
                    &.partners {
                        display: flex;
                        //justify-content: space-between;
                        flex-direction: row;
                        flex-wrap: wrap;
                        width: 100%;
                        position: relative;
                        li {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    .bottom-strap {

        min-height: 50px;

        background-color: #021e23;

        .container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        p {

            margin-bottom: 0;

            color: #ccc;
            font-size: 12px;
            line-height: 5rem;

        }

        .widget {

            display: flex;

            h3 {
                color: #ccc;
                font-size: 12px;
                line-height: 5rem;

                text-transform: uppercase;

            }
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            line-height: calc(5rem - 1px);
            display: flex;
            li {
                width: auto;
                display: flex;
                .logos {
                    max-width: 100px;
                    padding: 2%;
                }
                a {
                    color: #ccc;
                    font-size: 1.4rem;
                    text-decoration: underline;
                    padding-right: 10px;
                    padding-left: 10px;
                }
                &:not(:last-of-type):after {
                    content: ' | ';
                    color: #ccc;
                }
                &:first-of-type:before {
                    content: ': ';
                    color: #ccc;
                }
            }
        }
    }

}
