#slider {

    width: 100%;
    background-size: cover;
    .slide {
        width: 100%;
        height: 540px;
        display: block;
        background-position: center;
        background-size: cover;
        .innerSlide {
            width: 100%;
            height: 540px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            h1 {
                font-size: 12rem;
                color: #ffffff;
                font-weight: 100;
            }
        }
    }
}
#news {
    background-color: #021e23;
    h2 {
        font-size: 3rem;
        font-weight: 300;
        color: #ffffff;
        padding: 20px 0;
        margin: 0;
    }
    .frontWrap {
        margin-bottom: 30px;
    }
    .frontArticle {
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #ffffff;

        .mainLink{
            display: block;
            position: relative;
            width: 40%;
            height: 100%;
        }
        .frontImage {
            position: relative;
            width: 100%;
            height: 100%;
            background-size: cover;
            display: table;
        }
        .frontText {

            .intro {
                a {
                    opacity: 1;
                    &:hover {
                        text-decoration: none;
                    }
                }
                .postDate {
                    font-size: 1.4rem;
                    letter-spacing: 0.1em;
                }
                .localization {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    width: auto;
                    display: block;
                    text-align: right;
                    li {
                        font-size: 1.2rem;
                        display: inline-block;

                        width: auto;
                        color: #fff;
                        padding: 5px 15px;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        font-weight: 600;
                        line-height: 1;
                        background-color: $orange;
                    }
                }
                padding: 0 30px;
                h3 {
                    font-size: 1.8rem;
                    font-weight: 700;
                    line-height: 1.34;
                    margin: 25px 0 40px 0;
                }
                p {
                    font-size: 1.4rem;
                }
            }
            position: relative;
            width: 60%;
            padding-bottom: 70px;
            footer {
                position:absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                display:flex;
                justify-content: space-between;
                align-items: flex-end;

                .branches {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    width: 50%;
                    li {
                        font-size: 1.2rem;
                        color: #fff;
                        padding: 5px 10px;
                        font-weight: 600;
                        line-height: 1;
                    }
                }
            }
        }
    }
}
#cycleEvents {
    padding: 25px 0;
    img {
        margin: 15px 0;
        width: 100%;
    }
}

.banner2 {

    padding-top: 60px;
    padding-bottom: 60px;

    background-color : #d7d7d7;

    .row div:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__text  {

        padding-top: 20px;

        p:first-of-type {
            font-size: 16px;
            font-weight: 600;
        }

        p {
            font-size: 14px;
            margin-bottom: 20px;
        }

        a,
        p a {
            color: #cd5336;
        }
    }
}