 header.banner {box-shadow: 0px 5px 9.8px 0.2px rgba(0, 0, 0, 0.2); position: fixed; z-index: 9999; width: 100%;
    top: 0;
    background-color: #ffffff;
    left: 0;
    overflow: visible;
    .container {
        overflow: visible;
    }
    .headers {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .brand {

        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                a {
                    display: block;
                    padding: 5px;
                }
            }
        }
    }

}
.mainNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
    //box-shadow: 0px 5px 9.8px 0.2px rgba(0, 0, 0, 0.2);
    .nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: visible;
        li {
            display: inline-block;
            a {
                display: block;
                color: #666666;
                font-size: 1.4rem;
                padding: 20px 12px 20px 12px;
                letter-spacing: 0.1em;
            }

        }


    }
    #menu-branch {
        li {
            a {
                font-size: 1.2rem;
                letter-spacing: 0.2em;
                font-weight: 600;
                color: #000000;
                margin: 0 4px;
                padding: 30px 10px 20px 10px;
                text-transform: uppercase;


            }
            &.dla_wszystkich {
                a {
                    border-bottom: 10px solid $green;

                }
                &:hover > a {
                        background-color: $green;
                        color: #ffffff;
                        text-decoration: none;

                }
                &:focus > a {
                        background-color: $green;
                        color: #ffffff;
                        text-decoration: none;

                }
                .sub-menu > li {
                    a {
                        &:hover {
                            color: $green;
                            background-color: #ffffff;
                        }
                        &:focus {
                            color: $green;
                            background-color: #ffffff;
                        }
                    }
                }


            }
            &.dla_dzieci {
                a {
                    border-bottom: 10px solid $red;
                }
                &:hover > a {
                        background-color: $red;
                        color: #ffffff;
                        text-decoration: none;

                }
                &:focus > a {
                        background-color: $red;
                        color: #ffffff;
                        text-decoration: none;

                }
                .sub-menu > li {
                    a {
                        &:hover {
                            color: $red;
                            background-color: #ffffff;
                        }
                        &:focus {
                            color: $red;
                            background-color: #ffffff;
                        }
                    }
                }
            }
            &.dla_szkol {
                a {
                    border-bottom: 10px solid $yellow;
                }
                &:hover > a {
                        background-color: $yellow;
                        color: #ffffff;
                        text-decoration: none;

                }
                &:focus > a {
                        background-color: $yellow;
                        color: #ffffff;
                        text-decoration: none;


                }
                .sub-menu > li {
                    a {
                        &:hover {
                            color: $yellow;
                            background-color: #ffffff;
                        }
                        &:focus {
                            color: $yellow;
                            background-color: #ffffff;
                        }
                    }
                }
            }
            &.dla_seniora {
                a {
                    border-bottom: 10px solid $blue;
                }
                &:hover > a {
                        background-color: $blue;
                        color: #ffffff;
                        text-decoration: none;

                }
                &:focus > a {
                        background-color: $blue;
                        color: #ffffff;
                        text-decoration: none;


                }
                .sub-menu > li {
                    a {
                        &:hover {
                            color: $blue;
                            background-color: #ffffff;
                        }
                        &:focus {
                            color: $blue;
                            background-color: #ffffff;
                        }
                    }
                }
            }
            .sub-menu {
                padding: 40px 0;
                background-color: #ffffff;
                position: absolute;
                z-index: 1;
                top: 100%;
                left: 0;
                display: none;
                width: 100%;
                padding-left: calc((100vw - 1140px) / 2);
                padding-right: calc((100vw - 1140px) / 2);
                box-shadow: 0px 5px 9.8px 0.2px rgba(0, 0, 0, 0.2);
                @media all and (max-width: 1200px) {
                    padding-left: 15px;
                    padding-right: 15px;
                }
                li {
                    display: inline-block;
                    width: 22%;
                    background-color: #ffffff !important;
                    &:hover {
                        background-color: #ffffff !important;
                    }
                    &:focus {
                        background-color: #ffffff !important;
                    }
                    a {
                        border-bottom: none;
                        padding: 8px 15px;
                        width: 100%;
                        &:hover {
                            background-color: #ffffff !important;
                        }
                        &:focus {
                            background-color: #ffffff !important;
                        }
                    }
                }
            }

        }
        .menu-item-has-children:hover {
            .sub-menu {
                display:block;
            }
        }
    }
}
#footerInfo {
    color: #ffffff;
    background-color: #000000;
    hgroup {
        display:flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 0;
    }
    .brand {
        font-size: 1.2rem;
        letter-spacing: 0.2em;
        display: inline;
        margin: 0;
        color: #ffffff;
        padding-right: 5px;
    }
    span {
        font-size: 1.3rem;
        color: #999999;
    }
}
