.wrapSingle {
  h1.entry-title {
    font-size: 4.8rem;
    color: $red;
    font-weight: 300;
  }

  article {
    p {
      font-size: 1.6rem;
      line-height: 1.75;
      text-align: justify;
      margin-bottom: 0;

    }
  }

  .postAside {
    display: block;
    height: 100%;
    background: linear-gradient( 45deg, #ffffff, #f2f2f2 );
    padding: 30px 15px 15px;

    a {
      font-size: 1.4rem;
      color: $orange;
    }

    .partnersWrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;

      a {
        width: 50%;
        padding: 10px;
      }
    }

    h5 {
      font-size: 1.8rem;
      padding-bottom: 30px;
    }

    hr {
      margin: 20px 0;
    }

    .ssba-wrap {}

    .info {
      dl {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.4rem;

        dt {
          width: 35%;
          font-weight: 700;
          padding: 10px 0;
        }

        dd {
          width: 65%;
          padding: 10px 15px;

          li {
            list-style-type: none;
          }

          .clndr {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}

.department {
  .map {
    width: 100%;
    height: 400px;
    display: block;
  }

  h1 {
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
    padding: 30px 0;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
  }

  h3 {
    font-size: 1.6rem;
    font-weight: 700;
  }

  p {
    font-size: 1.6rem;
    line-height: 1.8;
  }



  .deps {
    padding-top: 30px;
    padding-bottom: 30px;
    p {
        margin: 0;
    }
    a {
      color: $orange;
      text-decoration: underline;
    }
  }
  article {
      a {
        color: $orange;
        text-decoration: underline;
      }
  }

  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
