html {
    font-size: 10px;
    overflow-x: hidden;
    body {
        overflow-x: hidden;
        font-family: $raleway;
        color: #000000;
    }
}
//Identyfikacja branchy
.dla-seniora {
    background-color: $blue;

}
.dla-dzieci {
    background-color: $red;
}
.dla-szkol {
    background-color: $yellow;
}
.dla-wszystkich {
    background-color: $green;
}
