// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #666666;
$green: #33cccc;
$red: #ff3366;
$yellow: #cccc33;
$black: #333333;
$orange: #ff6633;
$blue: #6aaae9;

//fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700&subset=latin-ext');

$raleway: 'Raleway', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&subset=greek-ext');

$slab: 'Roboto Slab', serif;
